* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Html font-size across the page */
html {
    font-size: 16px;
}

/* Resets */

body {
    margin: 0;
}

h1,
h2,
h3,
p {
    margin-top: 0;
}

ul {
    margin: 0;
    padding: 0;
    font-size: 0; /* whitespace fix */
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

img,
a {
    display: inline-block;
}

/* General styles */

li,
.logo {
    display: inline-block;
}

.info {
    float: left;
    padding: 20px;
}

.info > h3 {
    font-size: 1.3rem;
    margin-bottom: 40px;
}

.info p {
    padding-bottom: 16px;
}

h3:not(.work h3),
p,
small,
li > a {
    color: #fff;
}

.apple-devices-image h1,
footer p {
    margin-bottom: 0;
}

/* clear fix class */
.clear::after {
    content: '';
    clear: both;
    display: block;
    width: 100%;
}

/* Classes with single declaration */
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.word-s-4 {
    word-spacing: 4px;
}

/*
    Page components styles
*/

/* Header styles */

header {
    width: 80%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 35px;
}

.navigation {
    float: right;
    margin-top: 10px;
}

.navigation a {
    font-size: 1.2rem;
    border-bottom: 2px solid transparent;
    transition: color 0.2s ease-out, border-bottom 0.3s ease-out;
}

.navigation a:hover {
    color: #ccc;
    border-bottom: 2px solid #ff6161;
}

.navigation > ul li:not(:last-child) {
    margin-right: 15px;
}

/* Hero image */
.hero-image {
    width: 500px;
}

/* Navigation boxes styles */
.nav-box {
    height: 130px;
    width: 25%;
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-box > .icon {
    font-size: 3.4rem;
}

.nav-box > h2 {
    margin-bottom: 0;
    margin-top: 15px;
}

/* Content boxes styles */
.box {
    width: 50%;
    height: 280px;
}

.box > .device-img {
    width: 220px;
}

.box p {
    font-size: 1.1rem;
    text-indent: 20px;
}

/* Company work styles */

.work {
    width: 33.333%;
    height: 150px;
}

.social-icons {
    padding: 60px 15px;
}

.social-icons > ul li:not(:last-child) {
    margin-right: 150px;
}

.social-icons > ul li {
    font-size: 2rem;
}

/* Footer styles */

footer {
    padding: 20px 0;
}

/* Colors */

.bg-dark-purple {
    background-color: #514354;
}

.bg-soft-orange {
    background-color: #f09e84;
}

.bg-grayish {
    background-color: #bcb9aa;
}

.bg-blue {
    background-color: #638caa;
}

.bg-soft-blue {
    background-color: #b7ced6;
}

.bg-sky {
    background-color: #9ce0d1;
}

.bg-light-grey {
    background-color: #dbdbdb;
}

.bg-grey {
    background-color: #bcb9aa;
}

.bg-purple {
    background-color: #9aa7b8;
}
