/* Mobile first design */
/* No media query for (xs) since this is the default */

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: 200px;
}

.navbar-brand {
    margin-right: auto;
    margin-left: auto;
}

.navbar-nav .nav-item br {
    display: none;
}

.header-cover-image {
    height: 450px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.dark-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.card {
    transition: box-shadow 200ms ease-in;
}

.card:hover {
    box-shadow: rgba(236, 223, 39, 0.8) 0px 3px 9px;
    text-decoration: none;
}

.card img {
    object-fit: cover;
    height: 60px;
}

.nav-item button {
    background: none;
    border: none;
}

footer {
    position: absolute;
    bottom: 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    body {
        padding-bottom: 100px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /*  */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar-brand {
        margin-right: 0;
        margin-left: 0;
    }

    .navbar-nav {
        text-align: center;
    }

    .navbar-nav .nav-item br {
        display: block;
    }

    .navbar-nav .nav-item:not(:last-child) {
        margin-right: 30px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
