:root {
    /* colors */
    --white-opacity: rgba(255, 255, 255, 0.836);

    --dark-brown: #441f14;
    --dark-brown-opacity: #441f1493;

    --orange: #ffa600;
    --light-orange: #ed9902;

    --red: rgb(221, 52, 52);
}
