body {
  font-family: $font-family-base;
  padding-top: 72px;
  color: $gray-800;
}

.mb-0-last-child > *:last-child {
  margin-bottom: 0;
}

// Components

// Head section with background image
.img-head-section {
  min-height: 160px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

// Header block with background image
header#header-block {
  background: url('#{$img_path}image1.jpg') no-repeat top / cover;
  height: 450px;
}
