/* Common elements */

body {
  font-family: var(--font-mono);
}

.cover {
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
}

/* One property classes */
.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

/* Buttons */
a.btn {
  width: var(--size-13);
}

.btn {
  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-5);

  padding-inline: var(--size-4);
  padding-block: var(--size-2);
  border-radius: var(--radius-2);
  transition: all 0.2s ease-out;
}

.btn-lg {
  padding-inline: var(--size-6);
  padding-block: var(--size-3);
  font-weight: var(--font-weight-7);
}

.btn-dark {
  color: var(--text1-light);
  border: var(--border-size-2) solid var(--surface1-dark);
  background-color: transparent;
}

.btn-dark:hover {
  background-color: var(--surface1-dark);
  color: var(--text1-dark);
}


