/* open-props Framework */
@import 'https://unpkg.com/open-props';

/* Variables */
@import './variables.css';

/* Resets */
@import './resets.css';

body {
  font-family: var(--font-mono);
  color: var(--text1-dark);
}

.cover {
  min-height: 100vh;
  min-width: 100vw;

  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* One property classes */
.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.transparent {
  background-color: transparent;
}

/* Colors */

.text-error {
  color: var(--red-8);
}

.text-info {
  color: var(--yellow-7);
}

.text-success {
  color: var(--teal-6);
}

/* Buttons */
a.btn {
  width: var(--size-13);
}

.btn {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-6);

  padding-inline: var(--size-5);
  padding-block: var(--size-3);
  border-radius: var(--radius-2);
  cursor: pointer;
  transition: background-color 200ms ease-out;
  -webkit-transition: background-color 200ms ease-out;
  -ms-transition: background-color 200ms ease-out;
}

.btn-lg {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-7);
  padding-inline: var(--size-6);
  padding-block: var(--size-3);
}

.btn-dark {
  border: none;
  background-color: var(--surface2-dark);
  color: var(--text1-light);
}

.btn-dark:hover {
  color: var(--text1-light);
  background-color: var(--surface1-dark);
  -webkit-transition: background-color 300ms ease-in-out;
  -ms-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}

/* Signup/Login page */
#signup-login {
  gap: var(--size-6);
}

/* Forms */
.form {
  background-color: var(--background-color-base);
  width: var(--size-fluid-10);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-4);
}

.form-title {
  color: var(--text1-light);
  background-color: var(--surface2-dark);
  text-align: center;
  padding-block: var(--size-3);
}

.form-title > :first-child {
  margin-bottom: 0;
}

.form-body {
  padding: var(--size-6);
}

.form-label,
.form-input {
  padding: var(--size-2);
  font-size: var(--font-size-3);
}

/* form label with icon */
.form-label {
  color: var(--text1-light);
  background-color: var(--surface2-dark);
  text-align: center;
  flex-basis: 50px;
  border-top-left-radius: var(--radius-2);
  border-bottom-left-radius: var(--radius-2);
  transition: 300ms;
}

.form-label .icon {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.form-label .user-sign {
  font-weight: var(--font-weight-7);
  font-family: var(--font-sans);
  line-height: 0;
  font-size: var(--font-size-4);
}

.form-label:hover {
  background-color: var(--surface1-dark);
  color: var(--text1-light);
}

/* form input */
.form-input {
  color: inherit;
  border: none;
  outline: none;
  flex-basis: 100%;
  background-color: var(--yellow-0);
  border-top-right-radius: var(--radius-2);
  border-bottom-right-radius: var(--radius-2);
}

.form-group:not(:last-child) {
  margin-bottom: var(--size-4);
}

/* form feedback block styles */
.form-feedback {
  font-weight: var(--font-weight-6);
  background-color: var(--yellow-0);
  border-radius: var(--radius-2);
  user-select: none;
}

.form-feedback > * {
  margin-bottom: var(--size-2);
  padding-inline: var(--size-3);
}

.form-feedback > :first-child {
  padding-top: var(--size-2);
}

.form-feedback > *:last-child {
  margin-bottom: 0;
  padding-bottom: var(--size-2);
}

/* Animations */
.fade-scale {
  animation: var(--animation-scale-down) reverse, var(--animation-fade-out) reverse;
  animation-timing-function: var(--ease-squish-5);
  animation-duration: 300ms;
}
