@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Resets */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
p,
ul {
    margin-top: 0;
}

a {
    text-decoration: 0;
    color: inherit;
}

li,
a {
    display: inline-block;
}

/* Typography */

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

.text-lead {
    font-size: 1.25rem;
}

.icon {
    font-size: 30px;
}

/* General Styles */

ul {
    padding-left: 0;
    margin-bottom: 0;
    font-size: 0; /* Whitespace FIX */
}

ul li:not(:first-child) {
    margin-left: 15px;
}

.parallax {
    min-height: 100vh;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    padding-top: 70px;
    padding-bottom: 70px;
}

.center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.center-y {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.center-x-y {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dark-overlay {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

/* Single declaration classes */

.last-child-mb-0 > *:last-child {
    margin-bottom: 0;
}

.text-right {
    text-align: right;
}

.paragraph-justify p {
    text-align: justify;
}

.text-center {
    text-align: center;
}

.line-height-medium {
    line-height: 1.5;
}

/* Buttons */

.btn-sing-up {
    color: inherit;
    font-size: 17px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn {
    border: 2px solid #e4e4e4d9;
    background-color: transparent;
    padding: 15px 30px;
    border-radius: 4px;
    color: #e4e4e4d9;
    margin-top: 20px;
    transition: border-color 0.4s ease-out;
}

.btn:hover {
    border-color: rgb(93, 197, 238);
}

/* Components styles */

/* Header */
.navigation {
    position: relative;
    top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.navigation .logo {
    position: absolute;
    top: 10px;
    left: 0;
}

.navigation .navigation-links {
    position: absolute;
    right: 0;
}

.navigation .navigation-links li {
    font-size: 1rem;
}

.arrow {
    color: rgba(255, 255, 255, 0.7);
    bottom: 20px;
}

/* Articles sections styles */

/* Applicable on all article sections */

section article {
    background-color: rgba(39, 40, 51, 0.85);
    position: absolute;
}

section article .col {
    padding: 40px;
}

#information .col,
#services .col {
    float: left;
    width: 33.333%;
}

#support article,
#whyus article {
    width: 500px;
    height: 100%;
}

/* First section: information */

.image-one {
    background-image: url('../images/picture1.jpg');
}

section#information article {
    border-top: 5px solid #e44c65;
    padding-top: 40px;
    bottom: 0;
}

/* Second section: support */

.image-two {
    background-image: url('../images/picture2.jpeg');
}

#support article {
    border-left: 5px solid rgb(93, 93, 238);
    right: 0;
}

/* Third section: whyus */

.image-three {
    background-image: url('../images/picture3.jpg');
}

#whyus article {
    border-right: 5px solid rgb(45, 212, 81);
    left: 0;
}

/* Services section styles */

#services {
    padding-bottom: 40px;
}

#services .col {
    padding: 80px 40px 30px;
}

#services .col:nth-child(2) {
    border-top: 3px solid #e44c65;
    margin-bottom: -3px; /* Floating columns fix */
}

#services .icon {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin-bottom: 20px;
}

#services .btn {
    margin-top: 40px;
}

/* Newsletter styles */

.input-text,
.input-submit {
    font-size: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
}

.input-text {
    color: inherit;
    background-color: transparent;
    padding-left: 15px;
    border: 1px solid rgba(255, 255, 255, 0.85);
    width: 340px;
    outline: none;
}

.input-text:focus {
    border-color: #272833;
}

.input-submit {
    background-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

/* Footer styles */

footer p {
    margin-top: 30px;
}

/* Colors */

.bg-darkblue {
    background-color: #272833;
}

.bg-red {
    background-color: rgb(228, 78, 103);
}

.text-red {
    color: rgb(228, 78, 103);
}

.text-white {
    color: #fff;
}
