body {
    background-color: #242021;
}

h1,
h2,
h3 {
    color: #a2a2a2;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}

.hidden {
    display: none;
}

#race-track {
    background-image: url('../img/raceTrack.jpg');
    height: 500px;
    background-position: center;
    background-repeat: repeat-x;
    background-size: contain;
    position: relative;
}

#cars-wrapper {
    display: none;
}

.track-line {
    position: relative;
    height: 250px;
}

img.car {
    position: absolute;
    height: 250px;
    left: 0px;
}

.text-white {
    color: #ffebf7;
}

.text-danger {
    color: #ba0000;
}

#track-center-div {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}

#race-start-counter {
    color: #fff;
    font-size: 7rem;
    display: none;
}

#race-finish-flag {
    display: none;
}

#darken-track {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

#previous-race-results {
    display: none;
}

#previous-race-results .result {
    padding: 0 1rem;
}

#previous-race-results .result .inner {
    border-radius: 0;
}

#previous-race-results > h2 {
    margin-bottom: 10%;
}

#current-race-results {
    min-height: 100px;
}

.result {
    padding: 1rem;
}

.result .inner {
    border: 2px solid #ffebf7;
    color: #a2a2a2;
    text-align: center;
    padding: 0.8rem;
}

.result .inner p {
    margin-bottom: 0;
}

.result span {
    font-weight: bold;
    font-size: 1.4rem;
}

.result-1 span {
    color: #fff;
}

.result-2 span {
    color: #dc3545;
}
