:root {
  --text1-dark: var(--gray-7);
  --text2-dark: var(--gray-8);

  --text1-light: var(--gray-3);
  --text2-light: var(--gray-1);

  --surface1-light: var(--gray-2);
  --surface2-light: var(--gray-0);
  --surface3-light: var(--gray-1);
  --surface4-light: var(--gray-3);

  --surface1-dark: var(--gray-9);
  --surface2-dark: var(--gray-8);
  --surface3-dark: var(--gray-7);
  --surface4-dark: var(--gray-6);
}