@use 'sass:math';

@function rem-calc($size) {
  @return (math.div($size, 16)) * 1rem;
}

// Font settings
$font-family-base:           'Open Sans', sans-serif;

$font-size-normal:           rem-calc(16);

// Size settings
$gutter-base:                rem-calc(30);

$img_path:                  '../../img/';
$overlay:                   'linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6))';